/*Vill att denna css ska definera stilen som alla sidor ha gemensamt */
header{
    padding: 100px;
    border: 10px black;

}
.header_title h1{
    display: block;
    font-size: 80px;
    text-align: center;
    color: white;
    border: 10px;
}


.col-lg-2{
    background-color:white;
}
.col-lg-8{
    background-color:white;

}

.body-text{
    margin: 10px ;
}