/*Vill att denna css ska definera stilen som alla sidor ha gemensamt */
header{
    padding: 100px;
    border: 10px solid black;
    background-color: lightgray;
}
.header_title h1{
    display: block;
    font-size: 80px;
    text-align: center;
    color: black;
    border: 10px;
}

/* @media screen and (max-width: 557px){
    .header_title h1{
    vill anordna att texten anpassar ner utan ändras dess storlek
    }
} */

.col-lg-2{
    background-color:white;
}
.col-lg-8{
    background-color:white;

}

.body-text{
    margin: 10px ;
    size: auto;
}

