/* Vill i denna css ska specifik ändra detaljer unikt för index som färger och sånt. 
*/
#header_index{
    background-color: orange;
    
}
#title_index h1{
    color: white;
    background: orange;
}