header{
    background-image: url(../Media/Kodbagarna.png) ;
    background: orange; 
    display: block;
    padding: 100px;
    background-size: 100%;

}
.Header_title h1{
    color: white;
    display: block;
    font-size: 80px;
    text-align: center;
    background: orange;
}