/* Vill i denna css ska specifik ändra detaljer unikt för index som färger och sånt. 
*/
#header_index{
    background-color: orange;
    
}
#title_index h1{
    color: white;
    background: orange;

} 
/* @media screen and (max-width: 557px){
    #title_index h1{
    vill anordna att texten anpassar ner utan ändras dess storlek
    }
} */